//META{"name":"Overwatch","description":"For all Overwatch lovers out there!","author":"Matt","version":"0.50"}*//

/* Main Background and Settings Background*/
.app {
    background-image: url(https://imgur.com/QF8xNms.png) !important;
	background-size: cover !important;
}

.callout-backdrop{
	opacity:.40 !important;
}

textarea {
	background:transparent !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:0px solid rgba(255,255,255,1) !important;
	background-color:rgba(25,25,25,.75) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:0px solid rgba(255,255,255,0) !important;
	background-color:rgba(0,0,0,0) !important;
}

.links,
.help-container {
	display: none;
}

.links,
.chat,
.typing,
.content,
.guild-channels,
.private-channels,
.guild-header header,
.divider-red span,
.messages-wrapper,
#voice-connection {
	background-color: transparent !important;
}

/* Server list area */
.guilds-wrapper { 
	background:rgba(0,0,0,0.65) !important 
}

/* Channels list area */
.channels-wrap { 
	background:rgba(0,0,0,0.55) 
}

/* Chat area */
.content .flex-spacer {
	background:rgba(0,0,0,0.65);
}

/* User list area */
.channel-members {
	background:rgba(0,0,0,0.55) !important 
}

/* Title Bar Area */
.title-wrap {  
	background:rgba(0,0,0,0.55)	!important;
}

/* Guild Header */
.guild-header ul {
	background:#191919 !important;
    opacity:1 !important;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
    padding-top:100px;
    top:-56px;
}

.guild-header-open ul {
	opacity: 1 !important;
    border-bottom: 4px solid rgba(250,160,46,1);
}

.account {
    z-index: 9;
    border-top: 6px solid !important;
    background: transparent;
    height: 120px;
    box-sizing: border-box;
    color: #FAA02E;
    position: relative;
}

.account .status {
    border:0px solid rgba(0,0,0,1);
}

.account .btn {
	background: #FAA02E;/*#000;*/
	box-shadow:none !important;
    border: none;
}

.account .btn:active {
	background:#FAA02E;
}

.account .btn-settings:after {
	opacity:.3;
}

.account .btn-deafen,
.account .btn-mute {
    border-right:0px solid #000;/*1px solid #101010;*/
}

#voice-connection {
	z-index: 9;
	border-top: 6px solid !important;
	padding: 5px 10px 5px 10px !important;
    color: #FAA02E
}

#voice-connection .btn {
	background: #FAA02E; #000;
	box-shadow:none !important;
    border:none
}

.account .btn-deafen, .account .btn-settings {
	box-shadow:none !important;
}

.guild-header ul {
	background:#191919 !important;
    opacity:1 !important;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
    padding-top:100px;
    top:-56px;
}

.guild-header-open ul {
	opacity: 1 !important;
    border-bottom: 4px solid rgba(250,160,46,1);
}

.account {
    z-index: 9;
    border-top: 6px solid !important;
    background: rgba(50,50,50,0.5);
    height: 120px;
    box-sizing: border-box;
    color: #FAA02E;
    position: relative;
}

.account .status {
    border:0px solid rgba(0,0,0,1);
}

.account .btn {
	background: #FAA02E;/*#000;*/
	box-shadow:none !important;
    border: none;
}

.account .btn:active {
	background:#FAA02E;
}

.account .btn-settings:after {
	opacity:.3;
}

.account .btn-deafen,
.account .btn-mute {
    border-right:0px solid #000;/*1px solid #101010;*/
}

#voice-connection {
	z-index: 9;
	border-top: 6px solid !important;
	padding: 5px 10px 5px 10px !important;
    color: #FAA02E
}

#voice-connection .btn {
	background: #FAA02E; #000;
	box-shadow:none !important;
    border:none
}

.account .btn-deafen, .account .btn-settings {
	box-shadow:none !important;
}

.account .btn-settings:after{
    background-image: url(https://image000.flaticon.com/icons/svg/126/126472.svg);
	opacity: 0.5;
}

.account .btn-group {
	border:none;
    position:absolute;
    right:72px;
    top:75px
}

#voice-connection .btn-group {
	border:none;
}

.account .avatar-small {
    opacity:1;
    right: -40px;
    top:-20px;
    border-radius: 8px;
    width: 50px;
    height: 50px;
    background-size: 100%;
}

.account .account-details {
    padding-bottom: 38px;
    padding-left: 50px
}

.account .account-details .username {
    max-width: 100px !important;
    font-size: 15px;
}

.account .account-details .discriminator {
    font-size: 20px;
}

.guilds-wrapper .guilds-add {
	font-size:30px;
	background:#000;
    border-radius:8px;
}

.guilds .guild-inner {
	background:transparent !important;
}

.guilds .active .guild-inner {
	background:transparent !important;
	animation:colorPuls 1s infinite alternate;
}

@-webkit-keyframes colorPuls {
      100% {background:#FAA02E;}
      0% {background:;}
}

.guilds .guild-inner:hover {
	background:transparent !important;
}

.channel-textarea-inner {
	background: rgba(23,23,23,0.2)  !important;
    margin:0px 0px 0px;
    
}

.typing {
    position: absolute;
    bottom: 1px;
}

.settings .settings-inner {
    background-image: url(https://imgur.com/YKiWE79.png) !important;
    background-size: cover;
    background-position: center center;
}

.tab-bar.SIDE {
    margin-right: 0px;
    background:rgba(250,160,46,1);
    overflow-y:hidden;
    border-right:6px solid #2F2526;
}

.settings .settings-actions {
    background-color: #2F2526;
    border-top: 1px solid #2F2526;
}

.guild-channels .channel-text:not(.selected):hover {
    width:100% !important;
    padding-right:10px !important;
}

.guild-channels .channel:not(.selected):before,
.guild-channels .channel.selected:before,
.guild-channels .channel.selected:hover:before,
.private-channels .channel:not(.selected):before,
.private-channels .channel.selected:before,
.private-channels .channel.selected:hover:before,
.private-channels .search-result.selected:before,
.private-channels .search-result:hover:before {
	border-left:1px solid #FAA02E !important;
}

.guilds-wrapper .guilds .guild.unread:before {
    background:#FAA02E;
}

.guilds li.unread .guild-inner:before,
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
	background:#FAA02E;
}



.CodeMirror {
	background: rgba(255,255,255,0.15) !important;
    border-radius: 0px;
    color: rgba(255,255,255,0.8) !important;
}

.CodeMirror-gutters {
	background: rgba(255,255,255,0.25) !important;
	border:none !important;
}

.CodeMirror-linenumber {
	color: #fff !important;
}